<div class="container-fluid">   
    <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Opciones de busqueda</h4>                        
                    </div>     
                    <div class="content">
                        <label>Encuesta:</label>
                        <select (change)="onChange($event.target.value)">                            
                            <option *ngFor="let encuesta of surveyService.encuestas"  value="{{encuesta.idEncuesta}}">        
                                    {{encuesta.tituloEncuesta}}            
                            </option>
                        </select>

                        <br/>

                        <template ngFor let-agrupada [ngForOf] = "preguntasAgrupables"  let-i = "index">
                            <input type="checkbox" value="{{agrupada.id}}"/><label>{{agrupada.descripcion}}</label><br/>
                        </template>

                    </div>               
                </div>
            </div>
    </div>            
 </div>

    
    
    <grafico-pregunta *ngFor="let pregunta of surveyService.preguntas" title="{{pregunta.descripcion}}">        
        
    </grafico-pregunta>
    
    <div class="container-fluid">                   
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Exposición de los Posters</h4>                        
                    </div>
                    <div class="content">
                        <div id="chartExposicionPoster" class="ct-chart ct-perfect-fourth"></div>

                        <div class="footer">
                            <div class="chart-legend" >
                                <template ngFor let-serie [ngForOf] = "seriesGrafico"  let-i = "index">
                                    <i class="fa fa-circle {{serie.className}}"> </i>{{serie.nombre}}
                                </template>
                                    
                                <!-- <i class="fa fa-circle text-info"></i> Open
                                <i class="fa fa-circle text-danger"></i> Bounce
                                <i class="fa fa-circle text-warning"></i> Unsubscribe -->
                            
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i>Actualizado {{horaChartExposicionPoster}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nuestro proyecto NURVEY</h4>                        
                    </div>
                    <div class="content">
                        <div id="chartNuestroProyecto" class="ct-chart ct-perfect-fourth"></div>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Jornadas Puertas Abiertas</h4>                        
                    </div>
                    <div class="content">
                        <div id="chartJornadasPuertasAbiertas" class="ct-chart ct-perfect-fourth"></div>   
                        <div class="footer">
                            <div class="chart-legend" >
                                <template ngFor let-serie [ngForOf] = "seriesGraficoJornadas"  let-i = "index">
                                    <i class="fa fa-circle {{serie.className}}"> </i>{{serie.nombre}}
                                </template>
                                    
                                <!-- <i class="fa fa-circle text-info"></i> Open
                                <i class="fa fa-circle text-danger"></i> Bounce
                                <i class="fa fa-circle text-warning"></i> Unsubscribe -->
                            
                            <hr>
                            <div class="stats">
                                <i class="ti-timer"></i>Actualizado {{horaChartExposicionPoster}}
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>

    </div>
