<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 card" *ngIf="encuestas">
            <div class="header">
                <h4 class="title">Mis Encuestas</h4>
                <p class="category">Aqui puede visualizar sus encuestas.</p>
            </div> -->
            
                <!-- <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let u of encuestas" class="list-group-item" [class.active]="u == activeUser">
                                <div class="row">
                                    <div class="col-sm-10" (click)="selectEncuesta(u)" > {{u.tituloEncuesta}} </div>
                                    <div class="col-sm-2"><h2 (click)="deleteUser()" class="ti-trash"></h2> </div>
                                </div>
                        </tr>
                        <td>
                            
                        </td>
                    </tbody>
                </table> -->

                <!-- <ul class="content table-responsive table-full-width">
                    <li *ngFor="let u of encuestas" class="list-group-item" (click)="selectEncuesta(u)" [class.active]="u == activeUser">
                        {{u.tituloEncuesta}}
                    </li>
                </ul> -->

            <!-- </div>
        </div>
        <div class="col-sm-8" >
            <div class="survey-container contentcontainer codecontainer panel svd_content" id="surveyElement"> 
                <div id="surveyResult">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container ">

    <div class="row">
        <div class="header">
            <p class="category">Aqui puede visualizar sus encuestas.</p>
        </div>
        <div class="col-md-3">
            <label for="termino"></label>
            <input [(ngModel)]="termino" (keyup)="buscarEncuestas()" type="text" name="termino" 
                    placeholder="Buscar encuestas..." class="form-control">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let encuesta of surveyService.encuestas" class="list-group-item" [class.active]="encuesta == activeUser">
                        <div class="row">
                            <div class="col-sm-10" (click)="selectEncuesta(encuesta)" > {{encuesta.tituloEncuesta}} </div>
                            <div class="col-sm-2"><h2 (click)="deleteUser()" class="ti-trash"></h2> </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-8" >
            <div class="survey-container contentcontainer codecontainer panel svd_content" id="surveyElement"> 
                <div id="surveyResult">
                </div>
            </div>
        </div>
    </div>
</div>
